extends layouts/default

block content
	article#intro
		#logo
			+icon('triple-verge')

		h1= info.title
		h2= info.subTitle

	footer#footer
		p
			span.contact
				#[a(href="mailto://hello@tripleverge.com", alt="Triple Verge contact e-mail", title="Hello!") hello@tripleverge.com] | #[a(href="tel:555381229099", alt="Triple Verge contact phone", title="Call me maybe!") +55 53 8122.9099]

			small.copyright &copy; Triple Verge 2015
