extends layouts/default

block content
	iframe#reel(width="700", height="394", src="https://www.youtube.com/embed/FEuVCeKGLww?rel=0&amp;controls=0&amp;showinfo=0", frameborder="0", allowfullscreen)

	footer#footer
		p
			span.contact #[a(href="mailto://hello@tripleverge.com", alt="Triple Verge contact e-mail", title="Hello!") hello@tripleverge.com] | #[a(href="tel:5553981229099", alt="Triple Verge contact phone", title="Call me maybe!") +55 53 98122 9099]

			small.copyright &copy; Triple Verge 2015 - 2017
