body
	setPageBG('intro')
	font-family $font-family-brand

section
	display none
	overflow hidden
	position relative
	padding rem(120) 0 rem(150)
	min-height 100%
	box-sizing border-box

	&:before
		content ''
		position absolute
		top rem(-80)
		left -1px
		right -1px
		height rem(80)
		background $color-white
		transform translateY(50%) rotate($degrees) skew($degrees)
		z-index 1

.loaded
	section
		display block

#intro
	color $color-white
	text-align center

	@media $bp-v-torrie
		position center
		width 100%

#logo
	margin 0 auto rem(20)

	.icon
		size 50%
