#social
	margin-top rem(75)
	text-align center

	@media $bp-v-torrie
		position absolute
		bottom 15%
		left 0
		right 0

.social__item
	display inline-block
	margin 0 rem(8)

	@media $bp-h-copper
		margin 0 rem(2)
