/*
 * Clearfix
 */
clearfix()
	&:before,
	&:after
		content ' '
		display table

	&:after
		clear both

/*
 * Font-size fallback
 */
font-size(value)
	if typeof(value) is 'unit' and unit(value) is ''
		font-size unit(value, 'px')
		font-size rem(value)
	else
		font-size value

/*
 * Position mixin
 * Mixin to enable the "center" value in "position" CSS property
 */
position()
	if arguments is center
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
	else
		position arguments

/*
 * Convert PX to REM
 */
rem(u)
	return unit(u/16, 'rem')

/*
 * Size mixin
 */
size($width, $height = $width)
	width $width
	height $height

min-size($width, $height = $width)
	min-width $width
	min-height $height

max-size($width, $height = $width)
	max-width $width
	max-height $height
