$anim-duration = .5s
$anim-duration-fast = .25s
$anim-duration-slow = 1s

$degrees = -1.75deg

/*
 * Breakpoints
 * Use this site to name the breakpoints:
 * http://dwarf.namegeneratorfun.com/
 */
$bp-h-quinn = "only screen and (min-width: " + unit(480, 'px') + ")"
$bp-h-copper = "only screen and (min-width: " + unit(700, 'px') + ")"

/*
 * Functions
 */
imgPath(path)
	url('/img/' + path)


setPageBG(image)
	background-image imgPath('backgrounds/' + image + '-05x.jpg')
	background-position 50% 50%
	background-attachment fixed
	background-size cover

	@media $bp-h-copper
		background-image imgPath('backgrounds/' + image + '.jpg')
