/*
 * General Typography
 */

// Families
$font-family-brand = 'Raleway', sans-serif
$font-family-basic = sans-serif

// Sizes
$font-size-largest = rem(60)
$font-size-large = rem(23)
$font-size-base = rem(18)
$font-size-small = rem(13)

// Weights
$font-weight-thin = 200
$font-weight-normal = 600
$font-weight-bold = 900

h1
	font-size $font-size-largest
	font-weight $font-weight-bold
	margin-bottom rem(10)
	text-transform uppercase

h2
	font-size $font-size-base
	font-weight $font-weight-thin
