
/* line 23 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/style.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/stylus/lib/functions/index.styl */

/* line 297 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/stylus/lib/functions/index.styl */

/* line 15 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/index.styl */

/* line 15 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/border.styl */

/* line 10 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/border-radius.styl */

/* line 53 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/border-radius.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/clearfix.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/flex.styl */

/* line 196 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/gradients.styl */

/* line 90 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/config.styl */

/* line 11 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/config.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/iconic.styl */

/* line 7 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/image.styl */

/* line 19 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/index.styl */

/* line 19 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/index.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/base.styl */

/* line 8 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/base.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 19 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/html5.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/links.styl */

/* line 6 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/links.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/text.styl */

/* line 30 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/text.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 7 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/embed.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 17 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/groups.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 69 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/forms.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 7 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/normalize/tables.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/overflow.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/positions.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */

/* line 78 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/config.styl */

/* line 523 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/size.styl */

/* line 4 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 28 : /Users/acauamontiel/www/triple-verge/hotsite/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */

/* line 11 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
::selection {
  background: #111;
  color: #eee;
  text-shadow: none;
}

/* line 14 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
::-moz-selection {
  background: #111;
  color: #eee;
  text-shadow: none;
}

/* line 20 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
::-webkit-input-placeholder {
  color: #111;
}

/* line 23 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
:-moz-placeholder {
  color: #111;
}

/* line 26 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
::-moz-placeholder {
  color: #111;
}

/* line 29 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
:-ms-input-placeholder {
  color: #111;
}

/* line 32 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
:hover,
:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* line 37 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
html {
  -webkit-font-smoothing: antialiased;
}

/* line 40 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
a {
  color: inherit;
}

/* line 43 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
button,
input {
  line-height: normal;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 50 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
a,
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  text-decoration: none;
}

/* line 58 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */

/* line 59 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  display: none;
}

/* line 61 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/equalizr.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/variables.styl */

/* line 30 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/variables.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/mixins.styl */

/* line 55 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/mixins.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/colors.styl */

/* line 8 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/colors.styl */

/* line 8 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/general.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/general.styl */
html {
  height: 100%;
  font-size: 60%;
}
@media only screen and (min-width: 700px) {

/* line 5 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/general.styl */
  html {
    font-size: 100%;
  }
}

/* line 8 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/general.styl */
body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/general.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/type.styl */

/* line 20 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/type.styl */
h1 {
  font-size: 3.75rem;
  font-weight: 900;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
}

/* line 26 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/type.styl */
h2 {
  font-size: 1.125rem;
  font-weight: 200;
}

/* line 28 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/type.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/icons.styl */

/* line 5 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/icons.styl */
.icon {
  display: inline-block;
  position: relative;
  top: -0.1em;
  width: 1em;
  height: 1em;
  color: currentColor;
  fill: currentColor;
  vertical-align: middle;
  pointer-events: none;
}

/* line 13 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/icons.styl */

/* line 13 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
.button {
  position: relative;
  display: inline-block;
  width: 4.6875rem;
  height: 4.6875rem;
  font-size: 1.875rem;
  color: #fff;
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}
@media only screen and (min-width: 700px) {

/* line 10 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
  .button {
    width: 2.1875rem;
    height: 2.1875rem;
    font-size: 1.25rem;
  }
}

/* line 14 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
.button .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 17 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
.button:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

/* line 20 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
.button:hover:before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
}

/* line 24 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
.button:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  pointer-events: none;
}
@media only screen and (min-width: 700px) {

/* line 35 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */
  .button:before {
    border-width: 0.0625rem;
  }
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/buttons.styl */

/* line 487 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
@-moz-keyframes dash {

/* line 2 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
  to {
    stroke-dashoffset: -1200;
  }
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
@-webkit-keyframes dash {

/* line 2 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
  to {
    stroke-dashoffset: -1200;
  }
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
@-o-keyframes dash {

/* line 2 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
  to {
    stroke-dashoffset: -1200;
  }
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
@keyframes dash {

/* line 2 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */
  to {
    stroke-dashoffset: -1200;
  }
}

/* line 3 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/components/animations.styl */

/* line 3 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/loader.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/loader.styl */
#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  -webkit-transition: 1s 2s;
  -moz-transition: 1s 2s;
  -o-transition: 1s 2s;
  -ms-transition: 1s 2s;
  transition: 1s 2s;
  z-index: 10;
}

/* line 11 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/loader.styl */
#loader .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 20rem;
  color: transparent;
  stroke: #fff;
  stroke-width: 0.125rem;
  stroke-linecap: round;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  -webkit-animation: dash 6.66s linear infinite;
  -moz-animation: dash 6.66s linear infinite;
  -o-animation: dash 6.66s linear infinite;
  -ms-animation: dash 6.66s linear infinite;
  animation: dash 6.66s linear infinite;
}

/* line 22 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/loader.styl */

/* line 23 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/loader.styl */
.loaded #loader {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateZ(0) scale(1.15);
  -moz-transform: translateZ(0) scale(1.15);
  -o-transform: translateZ(0) scale(1.15);
  -ms-transform: translateZ(0) scale(1.15);
  transform: translateZ(0) scale(1.15);
  visibility: hidden;
}

/* line 26 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/loader.styl */

/* line 26 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
body {
  background-image: url("../img/backgrounds/intro-05x.jpg");
  background-position: 50% 50%;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
@media only screen and (min-width: 700px) {

/* line 29 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/core/variables.styl */
  body {
    background-image: url("../img/backgrounds/intro.jpg");
  }
}

/* line 5 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
section {
  display: none;
  overflow: hidden;
  position: relative;
  padding: 7.5rem 0 9.375rem;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
section:before {
  content: '';
  position: absolute;
  top: -5rem;
  left: -1px;
  right: -1px;
  height: 5rem;
  background: #fff;
  -webkit-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  -moz-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  -o-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  -ms-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  z-index: 1;
}

/* line 24 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */

/* line 25 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
.loaded section {
  display: block;
}

/* line 28 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
#intro {
  color: #fff;
  text-align: center;
}
@media only screen and (min-height: 640px) {

/* line 32 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
  #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

/* line 36 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
#logo {
  margin: 0 auto 1.25rem;
}

/* line 39 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */
#logo .icon {
  width: 50%;
  height: 50%;
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/intro.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/social.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/social.styl */
#social {
  margin-top: 4.6875rem;
  text-align: center;
}
@media only screen and (min-height: 640px) {

/* line 5 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/social.styl */
  #social {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
  }
}

/* line 11 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/social.styl */
.social__item {
  display: inline-block;
  margin: 0 0.5rem;
}
@media only screen and (min-width: 700px) {

/* line 15 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/social.styl */
  .social__item {
    margin: 0 0.125rem;
  }
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/social.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/reel.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/reel.styl */
#reel {
  display: block;
  margin: 10px auto;
  width: 100%;
}
@media only screen and (min-width: 700px) {

/* line 6 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/reel.styl */
  #reel {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    width: 700px;
  }
}

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/reel.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */

/* line 1 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
#footer {
  position: absolute;
  bottom: 0;
  left: -0.0625rem;
  right: -0.0625rem;
  font-weight: 600;
  text-align: center;
}
@media only screen and (min-width: 700px) {

/* line 9 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
  #footer {
    font-weight: 200;
  }
}

/* line 12 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
#footer:before {
  content: '';
  position: absolute;
  top: -6.5625rem;
  left: -1px;
  right: -1px;
  height: 9.375rem;
  background: #fff;
  -webkit-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  -moz-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  -o-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  -ms-transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  transform: translateY(50%) rotate(-1.75deg) skew(-1.75deg);
  z-index: -1;
}

/* line 23 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
#footer p {
  margin: 0 auto;
  padding: 0 1.875rem 0.625rem;
  max-width: 62.5rem;
}

/* line 28 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
.contact {
  display: block;
  margin-bottom: 0.9375rem;
  font-size: 1.125rem;
  color: #4a4a4a;
}

/* line 34 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
.contact a {
  display: inline-block;
  margin: 0 0.625rem;
}

/* line 38 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
.contact a:first-child {
  margin-left: 0;
}

/* line 41 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
.contact a:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 480px) {

/* line 44 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
  .contact {
    float: left;
  }
}
@media only screen and (min-width: 700px) {

/* line 47 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
  .contact {
    font-size: 0.875rem;
  }
}

/* line 50 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
.copyright {
  font-size: 0.875rem;
  color: #9b9b9b;
}
@media only screen and (min-width: 480px) {

/* line 54 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
  .copyright {
    float: right;
    font-size: 1.125rem;
    color: #4a4a4a;
  }
}
@media only screen and (min-width: 700px) {

/* line 59 : /Users/acauamontiel/www/triple-verge/hotsite/src/css/sections/footer.styl */
  .copyright {
    font-size: 0.875rem;
  }
}
