// Resets
@import 'nib'
global-reset()
@import 'equalizr'

// Core
@import 'core/variables'
@import 'core/mixins'
@import 'core/colors'
@import 'core/general'

// Components
@import 'components/type'
@import 'components/icons'
@import 'components/buttons'
@import 'components/animations'

// Templates
@import 'templates/intro'
@import 'templates/footer'
