// Resets
@import 'nib'
global-reset()
@import 'equalizr'

// Core
@import 'core/variables'
@import 'core/mixins'
@import 'core/colors'
@import 'core/general'

// Components
@import 'components/type'
@import 'components/icons'
@import 'components/buttons'
@import 'components/animations'

// Sections
@import 'sections/loader'
@import 'sections/intro'
@import 'sections/social'
@import 'sections/reel'
@import 'sections/footer'
